USE [master]
GO
/****** Object:  Database [CompeticionPremium]    Script Date: 10/8/2023 9:21:42 PM ******/
CREATE DATABASE [CompeticionPremium]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CompeticionPremium', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LUCA\MSSQL\DATA\CompeticionPremium.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CompeticionPremium_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LUCA\MSSQL\DATA\CompeticionPremium_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CompeticionPremium].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CompeticionPremium]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 10/8/2023 9:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[IdEquipo] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[NombreEquipo] [nvarchar](70) NULL,
	[CantIntegrantes] [int] NULL,
	[BajaLogica] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Integrantes]    Script Date: 10/8/2023 9:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Integrantes](
	[IdIntegrantes] [int] IDENTITY(1,1) NOT NULL,
	[IdEquipo] [int] NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[DNI] [int] NULL,
	[BajaLogica] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIntegrantes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 10/8/2023 9:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](50) NULL,
	[Contrasenia] [nvarchar](50) NULL,
	[BajaLogica] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FK_Equipos_IdUsuario]
GO
ALTER TABLE [dbo].[Integrantes]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVentas_IdEquipo] FOREIGN KEY([IdEquipo])
REFERENCES [dbo].[Equipos] ([IdEquipo])
GO
ALTER TABLE [dbo].[Integrantes] CHECK CONSTRAINT [FK_DetalleVentas_IdEquipo]
GO
USE [master]
GO
